/* * {
    background: rgb(0 100 0 / 0.1) !important;
    border: 1px solid green;
} */

:root {
    --start-button-color: hsl(176, 75%, 37%);
    --pause-button-color: hsl(350, 95%, 69%);
    --split-button-color: hsl(35, 89%, 55%);
    --reset-button-color: hsl(211, 60%, 54%);

    --start-button-color-hover: hsl(176, 75%, 27%);
    --pause-button-color-hover: hsl(350, 95%, 59%);
    --split-button-color-hover: hsl(35, 89%, 45%);
    --reset-button-color-hover: hsl(211, 60%, 44%);

}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.container {
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.content {
    gap: 1em;
}

.content > * {
    margin-block: 0px;
}

.time-container {
    align-items: baseline;
}

.time-container > p {
    margin: 0px;
}

.time {
    font-size: 10rem;
}

.time-end {
    font-size: 4rem;
}


.split-time {
    font-size: 1.25rem;
    color: #F29D37;
    text-transform: uppercase;
}

.button-container {
    gap: 1em;
}

.button {
    font-size: 1.25rem;
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    border-style: none;
    color: white;
    font-weight: 400;
}

.start-button:hover {
    background-color: var(--start-button-color-hover);
}

.pause-button:hover {
    background-color: var(--pause-button-color-hover);
}

.split-button:hover {
    background-color: var(--split-button-color-hover);
}

.reset-button:hover {
    background-color: var(--reset-button-color-hover);
}

.disabled-button {
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

.start-button {
    background-color: var(--start-button-color);
}

.pause-button {
    background-color: var(--pause-button-color);
}

.split-button {
    background-color: var(--split-button-color);
}

.reset-button {
    background-color: var(--reset-button-color);
}