/* * {
    background: rgb(0 100 0 / 0.1) !important;
    border: 1px solid green;
} */

:root {

    --font-scale: 1;

    --start-button-color: hsl(176, 75%, 37%);
    --pause-button-color: hsl(350, 95%, 69%);
    --split-button-color: hsl(35, 89%, 55%);
    --reset-button-color: hsl(211, 60%, 54%);

    --start-button-color-hover: hsl(176, 75%, 27%);
    --pause-button-color-hover: hsl(350, 95%, 59%);
    --split-button-color-hover: hsl(35, 89%, 45%);
    --reset-button-color-hover: hsl(211, 60%, 44%);

}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.container {
    justify-content: center;
    align-items: center;
    padding: 3em;
    gap: 1em;
}

.github-login-button {
    font-size: 1rem;
    padding-block: 1em;
    padding-inline: 2em;
}

.github-container {
    align-items: center;
}

/* .github-container > * {
    justify-content: center;
} */

/* .github-public_repos {
    justify-content: center;
} */

.content {
    gap: calc(var(--font-scale)*1em);
}

.content > * {
    margin-block: 0px;
}

.time-container {
    align-items: baseline;
    gap: calc(var(--font-scale)*1em);
}

.time-container > p {
    margin: 0px;
}

.time {
    font-size: calc(var(--font-scale)*10rem);
}

.time-end {
    font-size: calc(var(--font-scale)*4rem);
}


.split-time-display {
    font-size: calc(var(--font-scale)*1.25rem);
    color: #F29D37;
    text-transform: uppercase;
}

.button-container {
    gap: calc(var(--font-scale)*1em);
}

.button {
    font-size: calc(var(--font-scale)*1.25rem);
    border-radius: 100%;
    width: calc(var(--font-scale)*6rem);
    height: calc(var(--font-scale)*6rem);
    border-style: none;
    color: white;
    font-weight: 400;
}

.start-button:hover {
    background-color: var(--start-button-color-hover);
}

.pause-button:hover {
    background-color: var(--pause-button-color-hover);
}

.split-button:hover {
    background-color: var(--split-button-color-hover);
}

.reset-button:hover {
    background-color: var(--reset-button-color-hover);
}

.disabled-button {
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

.start-button {
    background-color: var(--start-button-color);
}

.pause-button {
    background-color: var(--pause-button-color);
}

.split-button {
    background-color: var(--split-button-color);
}

.reset-button {
    background-color: var(--reset-button-color);
}

.blue-color {
    background-color: blueviolet;
}

.table-separator { 
    width: 100%; 
}

.hide {
    display: none;
}

.table-body > tr {
    /* font-size:  */
    line-height: calc(var(--font-scale)*.75em + 1em) ;
}

.pause-time {
    color: var(--pause-button-color);
}

.split-time {
    color: var(--split-button-color);
}


@media (max-width: 60rem) {
    :root {
        --font-scale: .8;
    }
}

@media (max-width: 50rem) {
    :root {
        --font-scale: .6;
    }
}

@media (max-width: 40rem) {
    :root {
        --font-scale: .47;
    }
}


@media (max-width: 30rem) {
    :root {
        --font-scale: .42;
    }
}


@media (max-width: 25rem) {
    :root {
        --font-scale: .35;
    }
}